.gitattributes
# Project/IDE/OS/Secrets
docker-compose.yml
favicon.ico
.env
.env.local
qodana.yaml
.idea/
.vscode/
.DS_Store
# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files
# Useful .gitignore templates: https://github.com/github/gitignore
node_modules
dist
.cache

# Logs
logs
*.log
npm-debug.log*


Thumbs.db
*.iml
*.swp
*.swo

# Optional npm cache directory
.npm
# Optional eslint cache
.eslintcache
# Optional stylelint cache
.stylelintcache
# Microbundle cache
.rpt2_cache
.rts2_cache_cjs
.rts2_cache_es
.rts2_cache_umd
# Parcel-bundler cache (https://parceljs.org/)
.cache
# Next.js build output
.next
out

